@charset "UTF-8";
/*==============================
foundation
==============================*/
/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*----------_common.scss----------*/
html {
  height: 100%;
}

body {
  color: #333333;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", 游ゴシック体, "Yu Gothic", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-weight: 500;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  word-wrap: break-word;
  vertical-align: baseline;
  white-space: normal;
  padding: 0;
  border: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

a {
  color: #333333;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*=======================
1179pxでPC非表示tab表示
=======================*/
@media screen and (max-width: 1179px) {
  .--tab-none {
    display: none;
  }
}

.--tab-block {
  display: none;
}

@media screen and (max-width: 1179px) {
  .--tab-block {
    display: block;
  }
}

/*=======================
767pxでPC非表示SP表示
=======================*/
.--pc-none {
  display: none;
}

@media screen and (max-width: 767px) {
  .--pc-none {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .--sp-none {
    display: none;
  }
}

/*==============================
layout
==============================*/
/*----------_l-bottom-bnr----------*/
.l-bottom-bnr .l-bottom-bnr-flex {
  display: flex;
}

.l-bottom-bnr-item a {
  display: block;
}

.l-bottom-bnr-item a:hover {
  opacity: 0.7;
}

/*----------_l-cntent----------*/
.l-container-lg {
  max-width: 1180px;
  padding: 0 2%;
  margin: 0 auto;
}

.l-header.show {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px #eee;
}

.l-flex-box {
  display: flex;
}

/*----------_l-header----------*/
.l-footer {
  background: #3F5767;
  width: 100%;
  padding: 1em 2%;
}

.l-footer .l-footer-copyriht {
  font-size: 12px;
  color: #ffffff;
}

/*----------_l-header----------*/
.l-header {
  position: sticky;
  position: -webkit-sticky;
  /*Safari*/
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #ccc;
}

.l-header-logo {
  max-width: 180px;
}

.l-header-logo a {
  width: 100%;
  padding: 10px;
  display: block;
}

.l-header-nav {
  display: inline-block;
  margin-left: auto;
}

.l-header-nav-menu {
  align-items: center;
}

.l-header-nav-menu__item {
  font-size: 14px;
  padding: 0 12px;
  letter-spacing: 0.05em;
}

.l-header-nav-menu__item a:hover {
  color: #829CAD;
}

.l-header-nav__item--contact a,
.l-header-nav__item--sns a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.l-header-nav__item--contact a:hover,
.l-header-nav__item--sns a:hover {
  background: #829CAD;
  color: #fff;
  border-left: none;
  border-right: none;
}

.l-header.show {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px #eee;
}

.l-flex-box {
  display: flex;
}

/*==============================
object
==============================*/
/*----------component----------*/
/*----------_compornent----------*/
.c-link-btn {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", 游ゴシック体, "Yu Gothic", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

.c-link-btn a {
  display: block;
  padding: 1em 2em;
  background: #fff;
  color: #60A6D3;
  letter-spacing: 0.1em;
}

.c-link-btn a .c-link-btn__arrow {
  display: inline-block;
  margin-left: 2em;
  position: relative;
  width: 50px;
}

.c-link-btn a .c-link-btn__arrow:after, .c-link-btn a .c-link-btn__arrow:before {
  display: inline-block;
  content: '';
  position: absolute;
  background: #60A6D3;
}

.c-link-btn a .c-link-btn__arrow::before {
  width: 50px;
  height: 1px;
  top: -2px;
  left: 0;
}

.c-link-btn a .c-link-btn__arrow::after {
  width: 16px;
  height: 1px;
  top: -7px;
  right: 0;
  transform: rotate(45deg);
}

.c-link-btn a:hover {
  background: #60A6D3;
  color: #fff;
  box-shadow: 0 3px 8px #cccccc;
}

.c-link-btn a:hover .c-link-btn__arrow::after,
.c-link-btn a:hover .c-link-btn__arrow::before {
  background: #fff;
}

.c-heading--en {
  display: block;
  font-size: 64px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.1em;
  line-height: 1.0;
}

.c-heading--ja {
  display: block;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

/*----------project----------*/
/*----------_p-home----------*/
.p-home-heading {
  color: #60A6D3;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-home-heading {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-home-heading .c-heading--en {
  font-size: 62px;
  font-family: "Crimson Text", serif;
}

.p-home-heading--ja {
  font-size: 20px;
}

.p-home-about {
  display: flex;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .p-home-about {
    padding-bottom: calc(80px * 2/3);
  }
}

.p-home-about__img {
  max-width: 336px;
  margin-right: 2%;
}

.p-home-about__txt {
  flex-basis: calc(100%-336px);
  line-height: 2.0;
}

.p-home-about .c-link-btn {
  max-width: 240px;
  margin: 0 auto;
}

.p-home-about .c-link-btn a {
  border: solid 1px #333333;
}

.p-home-about .c-link-btn a:hover {
  border: solid 1px #60A6D3;
}

.p-home-about-txt__txt {
  margin-bottom: 42px;
}

@media screen and (max-width: 767px) {
  .p-home-about-txt__txt {
    margin-bottom: calc(42px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .p-home-about {
    display: block;
    overflow: hidden;
  }
  .p-home-about__img {
    max-width: 300px;
    margin-right: auto;
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
  }
  .p-home-about__img::before {
    position: absolute;
    right: -2%;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    height: 0;
    padding: 66%;
    background: url(../img/home/home_img06.jpg) no-repeat;
    background-size: cover;
  }
  .p-home-about .c-link-btn {
    margin: 0 auto;
  }
}

/*==========catch==========*/
.l-home-catch .p-home-contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/home/home_img02.png) no-repeat;
}

@media screen and (max-width: 767px) {
  .l-home-catch .p-home-contact {
    padding-top: calc(80px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .l-home-catch .p-home-contact {
    padding-bottom: calc(80px * 2/3);
  }
}

.l-home-catch .p-home-copy_txt01 {
  font-family: "Caveat", cursive;
  font-size: 64px;
  transform: rotate(32deg);
  position: absolute;
  left: calc(50% - 400px);
  top: 100px;
}

.l-home-catch .p-home-copy_txt02 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 400px) {
  .l-home-catch .p-home-copy_txt02 {
    font-size: 16px;
  }
}

/*==========Methods==========*/
.p-home-methods__left {
  flex-basis: 50%;
  background: url(../img/home/home_img03.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.p-home-methods__left::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.p-home-methods__right {
  flex-basis: 50%;
}

@media screen and (max-width: 767px) {
  .p-home-methods {
    display: block;
    background: url(../img/home/home_img03.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  .p-home-methods::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  .p-home-methods__left {
    background: none;
  }
  .p-home-methods__left::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  .p-home-methods__right {
    flex-basis: 50%;
  }
}

.p-home-methods-ttl .p-home-heading {
  width: 100%;
}

.p-home-methods-ttl .p-home-heading .c-heading--en {
  color: #fefefe;
}

.p-home-methods-ttl .p-home-heading .c-heading--ja {
  color: #fefefe;
}

.p-home-methods-ttl .p-home-methods-ttl__txt {
  width: 100%;
  line-height: 2.0;
}

.p-home-methods-ttl {
  position: relative;
  z-index: 2;
  color: #fefefe;
  max-width: 540px;
  padding-right: 2%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .p-home-methods-ttl {
    position: static;
    color: #fefefe;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}

.p-home-skill-list {
  width: 100%;
  max-width: 540px;
  padding: 0 2%;
}

.p-home-skill-list__item {
  display: flex;
  padding: 30px 0;
}

.p-home-skill-list__item:not(:last-child) {
  border-bottom: solid 1px #707070;
}

.p-home-skill-list__item .p-home-skill__icon {
  margin-right: 2%;
  flex-basis: 22%;
}

.p-home-skill-list__item .p-home-skill__txt {
  flex-basis: 77%;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .p-home-skill-list__item {
    padding: 20px 1%;
  }
  .p-home-skill-list__item:not(:last-child) {
    border-bottom: solid 1px #fefefe;
  }
  .p-home-skill-list__item .p-home-skill__icon {
    margin-left: 1%;
    margin-right: 1%;
    flex-basis: 24%;
  }
  .p-home-skill-list__item .p-home-skill__txt {
    flex-basis: 74%;
    color: #fefefe;
  }
}

.p-home-skill-icon__img {
  max-width: 56px;
  margin: 0 auto 4px;
}

.p-home-skill-icon__txt {
  text-align: center;
  font-family: "Damion", cursive;
  font-size: 22px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .p-home-skill-icon {
    background: #fefefe;
    border-radius: 50%;
  }
  .p-home-skill-icon__img {
    max-width: 50px;
    margin: 0 auto 10px;
  }
  .p-home-skill-icon__txt {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

.p-home-contact--bg {
  background: url(../img/home/home_img05.jpg);
  background-size: cover;
}

.p-home-contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .p-home-contact {
    padding-top: calc(80px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .p-home-contact {
    padding-bottom: calc(80px * 2/3);
  }
}

.p-home-contact .p-home-heading {
  text-align: center;
}

.p-home-contact__txt {
  text-align: center;
  margin: 42px 1%;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.p-home-contact .c-link-btn {
  max-width: 240px;
  margin: 0 auto;
  border: solid 1px #ccc;
}

.p-home-contact .c-link-btn a:hover {
  border: solid 1px #60A6D3;
}

/*----------utility----------*/
