@charset "UTF-8";
/*==============================
foundation
==============================*/
/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*----------_common.scss----------*/
html {
  height: 100%;
}

body {
  color: #333333;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", 游ゴシック体, "Yu Gothic", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-weight: 500;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  word-wrap: break-word;
  vertical-align: baseline;
  white-space: normal;
  border: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 70px 0 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

a {
  color: #333333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

/*=======================
1179pxでPC非表示tab表示
=======================*/
@media screen and (max-width: 1179px) {
  .--tab-none {
    display: none;
  }
}

.--tab-block {
  display: none;
}

@media screen and (max-width: 1179px) {
  .--tab-block {
    display: block;
  }
}

/*=======================
767pxでPC非表示SP表示
=======================*/
.--pc-none {
  display: none;
}

@media screen and (max-width: 767px) {
  .--pc-none {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .--sp-none {
    display: none;
  }
}

/*=======================
投稿画像の上下左右カット
=======================*/
.object_fit_img {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

/*=======================
セクションごとのタイトル
=======================*/
.c-section-ttl {
  position: relative;
  line-height: 1.4;
  padding: 0.25em 2em;
  display: inline-block;
}

.c-section-ttl:before, .c-section-ttl:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.c-section-ttl:after {
  content: '';
  border-top: solid 2px #60A6D3;
  top: 50%;
  right: -30%;
  width: 60px;
}

.c-section-ttl .c-heading--en {
  font-size: 40px;
}

.c-section-ttl .c-heading--ja {
  font-size: 16px;
}

.grecaptcha-badge {
  visibility: hidden;
}

/*===============================
inview
===============================*/
.js-fadein {
  opacity: 0;
  transition: all 1s;
}

.js-fadein.fadein {
  opacity: 1;
}

/*===============================
pagetop
===============================*/
/*トップへ戻るボタン*/
.js-pagetop {
  position: fixed;
  /*固定*/
  bottom: 20px;
  /*場所を右下に移動*/
  right: 20px;
  /*場所を右下に移動*/
  display: block;
  /*aタグをblock要素に変更*/
  background-color: rgba(0, 0, 0, 0.5);
  /*以下、デザインはご自由に！！*/
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 22px;
  border-radius: 30px;
  padding-top: 30px;
  box-sizing: border-box;
  z-index: 500;
}

.js-pagetop::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 2px;
  height: 36px;
  background: #ffffff;
  text-align: center;
}

.js-pagetop::after {
  display: inline-block;
  content: '';
  width: 2px;
  height: 16px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 5px);
  transform: rotate(30deg);
}

.js-pagetop:hover {
  opacity: 0.7;
}

/*==============================
layout
==============================*/
.l-works-sgl {
  margin-bottom: 80px;
}

.l-works-page-btm {
  margin-bottom: 100px;
}

.l-contact-form {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .l-contact-form {
    margin-bottom: calc(100px * 2/3);
  }
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #829CAD;
}

/*----------_l-bottom-bnr----------*/
.l-bottom-bnr .l-bottom-bnr-flex {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .l-bottom-bnr .l-bottom-bnr-flex {
    padding-top: calc(80px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .l-bottom-bnr .l-bottom-bnr-flex {
    padding-bottom: calc(80px * 2/3);
  }
}

.l-bottom-bnr-item {
  overflow: hidden;
}

.l-bottom-bnr-item a {
  display: block;
}

.l-bottom-bnr-item a:hover {
  opacity: 0.7;
}

.l-bottom-bnr-item:first-child {
  position: relative;
}

.l-bottom-bnr-item:first-child::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(82, 120, 148, 0.8);
  position: absolute;
  z-index: 100;
}

.l-bottom-bnr-item:first-child::after {
  display: inline-block;
  content: 'Coming soon';
  font-size: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 200;
  transform: translate(0, -50%);
}

.breadcrumbs {
  max-width: 1180px;
  font-size: 12px;
  padding: 10px 2%;
  margin: 0 auto;
}

/*----------_l-cntent----------*/
.l-container-lg {
  max-width: 1180px;
  padding: 0 2%;
  margin: 0 auto;
}

.l-header.show {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px #eee;
}

.l-flex-box {
  display: flex;
}

/*----------_l-header----------*/
.l-footer {
  background: #3F5767;
  width: 100%;
  padding: 1em 2%;
}

.l-footer .l-footer-copyriht {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

/*----------_l-header----------*/
.l-header {
  width: 100%;
  position: absolute;
  top: 0;
}

.l-header .p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #ccc;
}

.l-header .p-header .l-header-logo {
  max-width: 220px;
  margin-left: 2%;
}

.l-header .p-header .l-header-logo a {
  width: 100%;
  padding: 10px;
  display: block;
}

.l-header .p-header-nav {
  display: inline-block;
  margin-left: auto;
}

.l-header-nav-menu {
  align-items: center;
}

.l-header-nav-menu__item {
  font-size: 14px;
  padding: 0 12px;
  letter-spacing: 0.05em;
}

.l-header-nav-menu__item a:hover {
  color: #829CAD;
}

.l-header-nav__item--contact a,
.l-header-nav__item--sns a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.l-header-nav__item--contact a:hover,
.l-header-nav__item--sns a:hover {
  background: #829CAD;
  color: #fff;
  border-left: none;
  border-right: none;
}

.l-header.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5000;
}

.l-header.sticky .p-header {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px #eee;
}

.l-flex-box {
  display: flex;
}

.l-page-ttl {
  margin: 40px auto;
}

/*=======================
aboutのタイトル
=======================*/
.about .p-home-methods-ttl .p-home-heading .c-heading--en {
  color: #fefefe;
  font-size: 40px;
}

.about .p-home-methods-ttl .p-home-heading .c-heading--ja {
  font-size: 16px;
}

/*==============================
object
==============================*/
/*----------component----------*/
/*----------_compornent----------*/
.c-link-btn {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", 游ゴシック体, "Yu Gothic", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

.c-link-btn a {
  display: block;
  padding: 1em 2em;
  background: #fff;
  color: #60A6D3;
  letter-spacing: 0.1em;
}

.c-link-btn a .c-link-btn__arrow {
  display: inline-block;
  margin-left: 2em;
  position: relative;
  width: 50px;
}

.c-link-btn a .c-link-btn__arrow:after, .c-link-btn a .c-link-btn__arrow:before {
  display: inline-block;
  content: '';
  position: absolute;
  background: #60A6D3;
}

.c-link-btn a .c-link-btn__arrow::before {
  width: 50px;
  height: 1px;
  top: -2px;
  left: 0;
}

.c-link-btn a .c-link-btn__arrow::after {
  width: 16px;
  height: 1px;
  top: -8px;
  right: -1px;
  transform: rotate(45deg);
}

.c-link-btn a:hover {
  background: #60A6D3;
  color: #fff;
  box-shadow: 0 3px 8px #cccccc;
}

.c-link-btn a:hover .c-link-btn__arrow::after,
.c-link-btn a:hover .c-link-btn__arrow::before {
  background: #fff;
}

/*----------タイトル----------*/
.p-works-arc-ttl-bg.c-page-ttl--bg {
  padding: 80px 2%;
  background: url(../img/page_ttl/ttl_img_works.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-works-arc-ttl-bg.c-page-ttl--bg {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-works-arc-ttl-bg.c-page-ttl--bg::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(43, 108, 150, 0.7);
}

.p-contact-ttl--bg.c-page-ttl--bg {
  padding: 80px 2%;
  background: url(../img/about/about_img01.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.c-page-ttl {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.c-page-ttl .c-page--heading {
  display: inline-block;
  color: #ffffff;
  text-align: right;
}

.c-page-ttl .c-page--heading .c-page-heading--en {
  display: block;
  font-size: 64px;
  font-family: "Crimson Text", serif;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 1.2;
  position: relative;
}

.c-page-ttl .c-page--heading .c-page-heading--en::before {
  display: inline-block;
  content: '';
  background: #ffffff;
  width: 800%;
  height: 2px;
  position: absolute;
  left: calc(-700%);
  bottom: 0;
}

.c-page-ttl .c-page--heading .c-page-heading--ja {
  display: block;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

.c-heading--en {
  display: block;
  font-size: 62px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.1em;
  line-height: 1.0;
  margin-bottom: 10px;
}

.c-heading--ja {
  display: block;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  .c-heading--en {
    font-size: 48px;
  }
  .c-heading--ja {
    font-size: 16px;
  }
}

.c-sec-editor {
  line-height: 1.8;
  letter-spacing: 0.05em;
  overflow: hidden;
}

.c-sec-editor h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 30px;
  padding: 20px 0;
  border-top: solid 2px #829CAD;
  border-bottom: solid 2px #829CAD;
}

@media screen and (max-width: 767px) {
  .c-sec-editor h2 {
    font-size: 20px;
  }
}

.c-sec-editor h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 60px;
  padding: 10px 16px;
  background: #f0f0f0;
  border-left: solid 16px #829CAD;
}

@media screen and (max-width: 767px) {
  .c-sec-editor h3 {
    font-size: 18px;
  }
}

.c-sec-editor h4 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-sec-editor h4 {
    font-size: 18px;
  }
}

.c-sec-editor strong {
  font-weight: bold;
}

.c-sec-editor em {
  font-style: italic;
}

.c-sec-editor p {
  margin-bottom: 1.5em;
}

.c-sec-editor ol {
  list-style: decimal;
  padding-left: 2em;
  margin-bottom: 1.5em;
}

.c-sec-editor ul {
  list-style: inherit;
  padding-left: 2em;
  margin-bottom: 1.5em;
}

.c-sec-editor ul.wp-block-gallery {
  padding-left: 0;
}

.c-sec-editor a {
  color: #000;
  transition: 0.3s;
  font-weight: bold;
  position: relative;
}

.c-sec-editor a::before {
  content: "";
  border-bottom: solid 1px #000;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: 0.2s;
}

.c-sec-editor a:hover::before {
  width: 100%;
}

.c-sec-editor .wp-block-quote {
  position: relative;
  padding: 35px 15px 10px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 4px solid #9dd4ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.c-sec-editor .wp-block-quote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #9dd4ff;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

.c-sec-editor .wp-block-quote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

.c-sec-editor .wp-block-quote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

.c-sec-editor dl dt {
  font-weight: bold;
  border-bottom: solid 1px #000;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/*----------project----------*/
/*----------_about.scss----------*/
.p-about-catch-bg {
  background: url(../img/about/about_img01.jpg);
  background-size: cover;
}

.p-about-ttl {
  position: relative;
  max-width: 1140px;
  padding: 80px 2%;
  margin: 0 auto;
}

.p-about-ttl .p-about--heading {
  display: inline-block;
  color: #ffffff;
  position: relative;
  text-align: right;
}

.p-about-ttl .p-about--heading .c-page-heading--en {
  display: block;
  font-size: 64px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.2em;
  line-height: 1.2;
  position: relative;
}

.p-about-ttl .p-about--heading .c-page-heading--en::before {
  display: inline-block;
  content: '';
  background: #ffffff;
  width: 800%;
  height: 2px;
  position: absolute;
  left: calc(-700%);
  bottom: 0;
}

.p-about-ttl .p-about--heading .c-page-heading--ja {
  display: block;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .p-about-ttl {
    padding: 60px 2%;
  }
  .p-about-ttl .p-about--heading {
    padding-left: 4%;
  }
  .p-about-ttl .p-about--heading .c-page-heading--en {
    font-size: 48px;
  }
  .p-about-ttl .p-about--heading .c-page-heading--en::before {
    width: 800%;
    left: calc(-700%);
  }
  .p-about-ttl .p-about--heading .c-page-heading--ja {
    font-size: 16px;
  }
}

.p-about-catch-top__txt01 {
  text-align: center;
  margin-bottom: 40px;
}

.p-about-catch-top__txt01 span {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0.2em;
  padding: 0 12px;
  background: #ffffff;
}

.p-about-catch-top__txt01 span:first-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .p-about-catch-top__txt01 {
    margin-bottom: 30px;
  }
  .p-about-catch-top__txt01 span {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding: 0 10px;
  }
  .p-about-catch-top__txt01 span:first-child {
    margin-bottom: 10px;
  }
}

/*=======================
middle
=======================*/
.p-about-catch-middle {
  position: relative;
  padding-bottom: 160px;
}

.p-about-catch-middle__ttl {
  position: absolute;
  font-family: "Caveat", cursive;
  color: #ffffff;
  top: 40px;
  left: 47%;
  z-index: 100;
  font-size: 72px;
  text-shadow: 2px 2px 6px #60A6D3;
  transform: rotate(340deg);
}

.p-about-catch-middle__img {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.18);
  max-width: 630px;
  width: 100%;
}

.p-about-catch-middle__txt {
  max-width: 540px;
  position: absolute;
  top: 100px;
  right: 2%;
  background: #ffffff;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 767px) {
  .p-about-catch-middle {
    position: relative;
    padding-bottom: 60px;
  }
  .p-about-catch-middle__ttl {
    top: 0;
    left: 2%;
    font-size: 64px;
  }
  .p-about-catch-middle__img {
    margin: 0 auto;
  }
  .p-about-catch-middle__txt {
    max-width: 630px;
    position: static;
  }
}

/*=======================
 p-about-catch-middle-txt
=======================*/
.p-about-catch-middle-txt {
  padding: 40px 4%;
}

.p-about-catch-middle-txt__p {
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.p-about-catch-middle-txt__p:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .p-about-catch-middle-txt {
    padding: 30px 4%;
  }
  .p-about-catch-middle-txt__p:not(:last-child) {
    margin-bottom: 30px;
  }
}

/*=======================
Mind
=======================*/
.p-about-mind {
  display: flex;
  padding: 100px 0 80px;
}

.p-about-mind__left {
  flex-basis: 32%;
}

.p-about-mind__right {
  flex-basis: 68%;
}

.p-about-mind-heading:before, .p-about-mind-heading:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.p-about-mind-heading:after {
  content: '';
  border-top: solid 2px #333333;
  top: 50%;
  right: -30%;
  width: 60px;
}

@media screen and (max-width: 767px) {
  .p-about-mind {
    display: block;
    padding: 60px 0;
  }
  .p-about-mind__left {
    margin-bottom: 40px;
  }
}

.p-about-mind-txt {
  padding-right: 2%;
  max-width: 600px;
}

.p-about-mind-txt__copy {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 42px;
}

@media screen and (max-width: 767px) {
  .p-about-mind-txt__copy {
    margin-bottom: calc(42px * 2/3);
  }
}

.p-about-mind-txt-blc__p {
  margin-bottom: 30px;
  line-height: 2.0;
}

.p-about-mind-txt-blc__p .--bold {
  font-weight: bold;
}

/*=======================
history
=======================*/
.p-about-history {
  background: #f4f4f4;
  padding: 80px 0;
}

.p-about-history-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.p-about-history-item:last-child {
  padding-bottom: 0;
}

.p-about-history-item::after {
  display: inline-block;
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60px;
  background: #cccccc;
}

.p-about-history-item:first-child::after {
  height: 50%;
  position: absolute;
  top: 50%;
}

.p-about-history-item:last-child::after {
  height: 50%;
  position: absolute;
  top: 0;
}

.p-about-history-item--left {
  position: relative;
  z-index: 100;
  flex-basis: 10%;
}

.p-about-history-item--right {
  position: relative;
  z-index: 100;
  flex-basis: 90%;
}

@media screen and (max-width: 767px) {
  .p-about-history {
    padding: 60px 0;
  }
  .p-about-history__list {
    margin-top: 40px;
  }
  .p-about-history-item {
    display: block;
    padding-bottom: 60px;
  }
  .p-about-history-item::after {
    display: none;
  }
  .p-about-history-item--left {
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 200;
  }
}

.p-about-round {
  border: solid 1px #333;
  border-radius: 50%;
  position: relative;
  background: #fff;
  width: 120px;
  height: 120px;
}

.p-about-round--inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.p-about-round__ttl {
  font-size: 20px;
}

.p-about-round__txt {
  font-weight: bold;
}

.p-about-round__txt--emp {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .p-about-round {
    width: 90px;
    height: 90px;
  }
  .p-about-round__ttl {
    font-size: 14px;
  }
  .p-about-round__txt--emp {
    font-size: 20px;
  }
}

.p-about-comment {
  width: 95%;
  position: relative;
  padding: 28px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #cccccc;
  margin-left: auto;
}

.p-about-comment::after {
  display: inline-block;
  content: '';
  width: 5%;
  height: 5%;
  position: absolute;
  top: 50%;
  left: -3%;
  transform: translate(-50%, -50%);
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
}

.p-about-comment__ttl {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  background: linear-gradient(transparent 60%, #CFDEE8 60%);
  letter-spacing: 0.1em;
}

.p-about-comment__txt {
  margin-top: 10px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .p-about-comment {
    width: 92%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
  }
  .p-about-comment::after {
    display: none;
  }
  .p-about-comment__ttl {
    font-size: 18px;
  }
  .p-about-comment__txt {
    text-align: left;
    margin-top: 10px;
    line-height: 1.8;
  }
}

/*=======================
Skill
=======================*/
.p-about-skill {
  background: #eeeeee;
  padding: 60px 0;
}

.p-about-skill-heading {
  text-align: center;
  color: #60A6D3;
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .p-about-skill-heading {
    margin-bottom: calc(48px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .p-about-skill {
    padding: 40px 0;
  }
}

.p-about-skill-set {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.p-about-skill-list {
  display: flex;
  flex-wrap: wrap;
}

.p-about-skill-list__li {
  display: inline-block;
  margin: 0 2% 30px;
  max-width: 90px;
  flex-basis: calc(88% * 1/6);
}

.p-about-skill-icon {
  text-align: center;
}

.p-about-skill-icon__img {
  max-width: 48px;
  display: inline-block;
}

.p-about-skill-icon__img img {
  height: auto;
}

.p-about-skill-icon__txt {
  font-size: 12px;
  color: #333333;
}

/*=======================
contact
=======================*/
/*==================== p-contact ====================*/
.p-contact-form__top {
  text-align: center;
  line-height: 2.0;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-contact-form__top {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-contact-form-ex-list__item {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .p-contact-form-ex-list__item {
    font-size: 12px;
  }
}

.form-label {
  display: block;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .form-label {
    margin-bottom: calc(40px * 2/3);
  }
}

.form-label .required {
  display: inline-block;
  background: #CFDEE8;
  font-size: 10px;
  padding: 4px 8px;
  margin-left: 1em;
}

.wpcf7-form-control {
  display: block;
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 10px;
  padding: 12px;
  margin-top: 8px;
}

.wpcf-3-textarea {
  line-height: 1.6;
}

.wpcf7-submit {
  display: block;
  max-width: 240px;
  width: 100%;
  background: #60A6D3;
  text-align: center;
  border-radius: 0;
  transition: 0.5s;
  padding: 12px 1em;
  color: #fff;
  margin: 0 auto;
}

.wpcf7-submit:hover {
  box-shadow: 0 3px 8px #cccccc;
}

/*==================== p-contact-thanks ====================*/
.contact-thanks .c-link-btn {
  max-width: 230px;
  margin: 0 auto;
  border: solid 1px #60A6D3;
}

/*----------_p-home----------*/
.p-home-heading {
  color: #60A6D3;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-home-heading {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-home-heading .c-heading--en {
  font-family: "Crimson Text", serif;
}

.p-home-heading--ja {
  font-size: 20px;
}

/*========== home-visual ==========*/
.p-home-visual {
  position: relative;
}

.p-home-visual-txt .p-home-name {
  font-family: "Crimson Text", serif;
  position: absolute;
  top: 50%;
  left: calc(50% - 540px);
  z-index: 500;
  font-size: 72px;
  letter-spacing: 0.2em;
  line-height: 1.1;
  color: #fefefe;
  transform: translate(0, -50%);
}

.p-home-visual-txt .p-home-name--small {
  display: block;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #fefefe;
  margin-top: 10px;
}

.p-home-visual .swiper-container-main {
  position: relative;
}

.p-home-visual .swiper-container-main .swiper-button-prev,
.p-home-visual .swiper-container-main .swiper-button-next {
  display: none;
}

.p-home-visual .swiper-slide {
  width: 100%;
  height: 86vh;
  position: relative;
}

.p-home-visual .swiper-slide::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 86vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(63, 87, 103, 0.7);
  z-index: 400;
}

.p-home-visual .swiper-slide > img {
  object-fit: cover;
  /* IE: not support */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1179px) {
  .p-home-visual-txt .p-home-name {
    left: 2%;
    font-size: 64px;
    transform: translate(0, -50%);
  }
  .p-home-visual .swiper-slide {
    height: 76vh;
  }
  .p-home-visual .swiper-slide::before {
    height: 76vh;
  }
}

@media screen and (max-width: 767px) {
  .p-home-visual {
    overflow: hidden;
  }
  .p-home-visual-txt .p-home-name {
    left: 2%;
    font-size: 42px;
  }
  .p-home-visual-txt .p-home-name--small {
    font-size: 18px;
  }
  .p-home-visual .swiper-slide {
    height: 60vh;
  }
  .p-home-visual .swiper-slide::before {
    height: 60vh;
  }
  .p-home-visual .swiper-slide > img {
    object-fit: cover;
    /* IE: not support */
    width: 100%;
    height: 100%;
  }
}

/*========== about ==========*/
.p-home-about {
  display: flex;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .p-home-about {
    padding-bottom: calc(80px * 2/3);
  }
}

.p-home-about__img {
  max-width: 336px;
  margin-right: 4%;
}

.p-home-about__txt {
  flex-basis: calc(100%-336px);
  line-height: 2.0;
}

.p-home-about .c-link-btn {
  max-width: 240px;
  margin: 0 auto;
}

.p-home-about .c-link-btn a {
  border: solid 1px #ccc;
}

.p-home-about .c-link-btn a:hover {
  border: solid 1px #60A6D3;
}

.p-home-about-txt__txt {
  margin-bottom: 42px;
}

@media screen and (max-width: 767px) {
  .p-home-about-txt__txt {
    margin-bottom: calc(42px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .p-home-about {
    display: block;
    overflow: hidden;
  }
  .p-home-about__img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 40px;
    z-index: 100;
  }
  .p-home-about__img::before {
    position: absolute;
    right: -2%;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    height: 0;
    padding: 66%;
    background: url(../img/home/home_img06.jpg) no-repeat;
    background-size: cover;
  }
  .p-home-about .c-link-btn {
    margin: 0 auto;
  }
}

/*========== works ==========*/
.p-home-works {
  margin-bottom: 140px;
}

@media screen and (max-width: 767px) {
  .p-home-works {
    margin-bottom: calc(140px * 2/3);
  }
}

.p-home-works--ttlbg {
  width: 100%;
  position: relative;
}

.p-home-works--ttlbg .p-home-works-ttlbg__line {
  display: block;
  content: '';
  background: #B8BEC6;
  width: 100%;
  height: 74%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.p-home-works--ttlbg .p-home-heading {
  padding-bottom: 32px;
}

.p-home-works--ttlbg .p-home-heading .c-heading--ja {
  color: #fff;
}

.p-home-works-swiper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.p-home-works-swiper .swiper-wrapper {
  width: 65%;
  flex-basis: 65%;
}

.p-home-works-swiper .swiper-pagination {
  width: 35%;
  flex-basis: 35%;
  height: 100%;
  bottom: 0;
}

.p-home-works-swiper .swiper-container {
  overflow: visible;
  padding: 30px 0 50px;
}

.p-home-works-swiper .swiper-slide__wrap {
  position: relative;
  background: #ffffff;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-img {
  max-width: 640px;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-img__link {
  width: 100%;
  display: block;
  overflow: hidden;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-img__link:hover {
  opacity: 0.6;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-img__link img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-box {
  max-width: 580px;
  width: 100%;
  color: #fff;
  background: #B5C1C4;
  text-align: left;
  padding: 30px;
  transform: translateY(-40px);
  box-shadow: 5px 5px 10px #cccccc;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-box__cat {
  display: block;
  font-size: 12px;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-box__ttl {
  display: block;
  font-size: 24px;
  line-height: 1.4;
  padding: 10px 0;
  letter-spacing: 0.1em;
  border-bottom: solid 2px #fff;
  height: 52px;
  overflow: hidden;
  margin-bottom: 10px;
}

.p-home-works-swiper .swiper-slide__wrap .swiper-slide-box__txt {
  height: 40px;
  display: block;
  font-size: 16px;
  overflow: hidden;
}

.p-home-works-swiper .swiper-pagination-bullet {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HiraMinPro-W6", "ＭＳ ゴシック", sans-serif;
  font-size: 14px;
  margin: 0 4px;
  display: block;
  width: 100%;
  height: 48px;
  border-radius: inherit;
  color: #333333;
  background: none;
  position: relative;
  text-align: left;
}

.p-home-works-swiper .swiper-pagination-bullet:before {
  display: inline-block;
  content: '';
  width: 100px;
  height: 1px;
  background: #333333;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: .3s;
}

.p-home-works-swiper .swiper-pagination-bullet-active {
  font-size: 16px;
  font-weight: bold;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
}

.swiper-button-next:after {
  top: -20px;
}

.swiper-button-prev {
  top: -20px;
  right: 2%;
}

.swiper-button-next {
  top: -20px;
}

.p-home-works .c-link-btn {
  max-width: 240px;
  margin: 0 auto;
}

.p-home-works .c-link-btn a {
  border: solid 1px #ccc;
}

.p-home-works .c-link-btn a a:hover {
  border: solid 1px #60A6D3;
}

/*==========catch==========*/
.l-home-catch {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .l-home-catch {
    margin-bottom: calc(80px * 2/3);
  }
}

.l-home-catch .p-home-catch-bg {
  background: #EDEDED;
}

.l-home-catch .p-home-catch-bg .p-home-catch {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url(../img/home/home_img02.png) no-repeat right 20% bottom 40%;
}

@media screen and (max-width: 767px) {
  .l-home-catch .p-home-catch-bg .p-home-catch {
    padding-top: calc(100px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .l-home-catch .p-home-catch-bg .p-home-catch {
    padding-bottom: calc(80px * 2/3);
  }
}

.l-home-catch .p-home-copy__txt01 {
  font-family: "Caveat", cursive;
  font-size: 34px;
  color: #60A6D3;
  transform: rotate(-25deg);
  position: absolute;
  left: calc(50% - 250px);
  top: 60px;
}

.l-home-catch .p-home-copy__txt02 {
  text-align: center;
  font-size: 20px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HiraMinPro-W6", "ＭＳ ゴシック", sans-serif;
  line-height: 2.2;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 767px) {
  .l-home-catch .p-home-catch-bg .p-home-catch {
    background: url(../img/home/home_img02.png) no-repeat right 10% bottom 10%;
    background-size: 20%;
  }
  .l-home-catch .p-home-copy__txt01 {
    left: 10%;
    top: 40px;
  }
  .l-home-catch .p-home-copy__txt02 {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .l-home-catch {
    background-size: 15% 15%;
  }
  .l-home-catch .p-home-copy__txt01 {
    left: 6%;
    font-size: 24px;
  }
  .l-home-catch .p-home-copy__txt02 {
    font-size: 14px;
  }
}

/*==========Methods==========*/
.p-home-methods {
  margin-bottom: 90px;
}

@media screen and (max-width: 767px) {
  .p-home-methods {
    margin-bottom: calc(90px * 2/3);
  }
}

.p-home-methods__left {
  flex-basis: 50%;
  background: url(../img/home/home_img03.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.p-home-methods__left::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(82, 120, 148, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.p-home-methods__right {
  flex-basis: 50%;
}

@media screen and (max-width: 767px) {
  .p-home-methods {
    display: block;
    background: url(../img/home/home_img03.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 200;
  }
  .p-home-methods::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .p-home-methods__left {
    background: none;
  }
  .p-home-methods__left::after {
    background: none;
  }
  .p-home-methods__right {
    flex-basis: 50%;
  }
}

.p-home-methods-ttl .p-home-heading {
  width: 100%;
  margin-bottom: 50px;
}

.p-home-methods-ttl .p-home-heading .c-heading--en {
  color: #fefefe;
}

.p-home-methods-ttl .p-home-heading .c-heading--ja {
  color: #fefefe;
}

.p-home-methods-ttl .p-home-methods-ttl__txt {
  width: 100%;
  line-height: 2.0;
}

.p-home-methods-ttl {
  position: relative;
  z-index: 300;
  color: #fefefe;
  max-width: 540px;
  width: 100%;
  padding-right: 2%;
  margin-left: auto;
  padding-left: 20%;
}

@media screen and (max-width: 767px) {
  .p-home-methods-ttl {
    position: static;
    color: #fefefe;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .p-home-methods-ttl .p-home-heading {
    margin-bottom: 40px;
  }
}

.p-home-skill-list {
  width: 100%;
  max-width: 540px;
  padding: 0 2%;
}

.p-home-skill-list__item {
  display: flex;
  padding: 30px 0;
}

.p-home-skill-list__item:not(:last-child) {
  border-bottom: solid 1px #707070;
}

.p-home-skill-list__item .p-home-skill__icon {
  margin-right: 2%;
  width: 100px;
  height: 100px;
}

.p-home-skill-list__item .p-home-skill__txt {
  flex-basis: 77%;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .p-home-skill-list__item {
    padding: 20px 1%;
    align-items: center;
  }
  .p-home-skill-list__item:not(:last-child) {
    border-bottom: solid 1px #fefefe;
  }
  .p-home-skill-list__item .p-home-skill__icon {
    margin-left: 1%;
    margin-right: 3%;
  }
  .p-home-skill-list__item .p-home-skill__txt {
    flex-basis: 74%;
    color: #fefefe;
  }
}

.p-home-skill-icon__img {
  max-width: 56px;
  margin: 0 auto 4px;
}

.p-home-skill-icon__txt {
  text-align: center;
  font-family: "Damion", cursive;
  font-size: 22px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .p-home-skill-icon {
    background: #fefefe;
    border-radius: 50%;
  }
  .p-home-skill-icon__img {
    max-width: 38px;
    margin: 14px auto 5px;
  }
  .p-home-skill-icon__txt {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

/*==========　instagram　==========*/
.p-home-insta {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .p-home-insta {
    margin-bottom: calc(30px * 2/3);
  }
}

.p-home-insta .iswg-images {
  flex-wrap: wrap;
}

.p-home-insta .iswg-images .iswg-images-item {
  width: calc(94% * 1/4) !important;
}

.p-home-insta .iswg-images .iswg-images-item:not(:last-child) {
  margin-right: 2%;
}

.p-home-insta .iswg-base {
  border: none !important;
}

.p-home-insta .iswg-base .iswg-image-link {
  display: block;
}

.p-home-insta .iswg-base .iswg-image-link:hover {
  opacity: 0.7;
}

.p-home-insta__name {
  font-size: 14px;
  text-align: right;
  padding: 0 2%;
}

@media screen and (max-width: 767px) {
  .p-home-insta .iswg-images .iswg-images-item {
    width: calc(96% * 1/2) !important;
  }
  .p-home-insta .iswg-images .iswg-images-item:not(:last-child) {
    margin-right: 4%;
  }
  .p-home-insta .iswg-images .iswg-images-item:not(:nth-child(2n)) {
    margin-right: 0;
  }
}

/*==========　contact　==========*/
.p-home-contact--bg {
  background: url(../img/home/home_img05.jpg);
  background-size: cover;
}

.p-home-contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .p-home-contact {
    padding-top: calc(80px * 2/3);
  }
}

@media screen and (max-width: 767px) {
  .p-home-contact {
    padding-bottom: calc(80px * 2/3);
  }
}

.p-home-contact .p-home-heading {
  text-align: center;
}

.p-home-contact__txt {
  text-align: center;
  margin: 42px 1%;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.p-home-contact .c-link-btn {
  max-width: 240px;
  margin: 0 auto;
}

.p-home-contact .c-link-btn a {
  border: solid 1px #ccc;
}

.p-home-contact .c-link-btn a a:hover {
  border: solid 1px #60A6D3;
}

.main.works-ark {
  margin-bottom: 80px;
}

/*==================== p-works-archive ====================*/
.p-works-arc-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.p-works-arc-list__item {
  flex-basis: calc(94% * 1/3);
  max-width: 560px;
  margin: 0 auto 48px;
}

.p-works-arc-list__item a {
  display: block;
}

.p-works-arc-list__item a:hover {
  opacity: 0.7;
}

.p-works-arc-list__item:nth-child(5n-2), .p-works-arc-list__item:nth-child(5n-1) {
  margin-right: 3%;
}

.p-works-arc-list__item:nth-child(5n-4), .p-works-arc-list__item:nth-child(5n-3) {
  flex-basis: 48%;
  max-width: 560px;
  margin-bottom: 60px;
}

.p-works-arc-list__item:nth-child(5n-4) {
  margin-right: 4%;
}

@media screen and (max-width: 767px) {
  .p-works-arc-list {
    display: block;
  }
  .p-works-arc-list__item {
    margin: 0 auto 48px;
  }
  .p-works-arc-list__item:nth-child(5n-2), .p-works-arc-list__item:nth-child(5n-1) {
    margin-right: auto;
  }
  .p-works-arc-list__item:nth-child(5n-4) {
    margin-right: auto;
  }
}

/*==========item内画像調整==========*/
.p-works-arc-list__item:not(:nth-child(5n-4)) .p-works-arc-list-item__img,
.p-works-arc-list__item:not(:nth-child(5n-3)) .p-works-arc-list-item__img {
  width: 100%;
  background: #ccc;
  border: solid 1px #ccc;
}

.p-works-arc-list__item:not(:nth-child(5n-4)) .p-works-arc-list-item__img img,
.p-works-arc-list__item:not(:nth-child(5n-3)) .p-works-arc-list-item__img img {
  width: 100%;
  height: 200px;
}

.p-works-arc-list__item:nth-child(5n-4) .p-works-arc-list-item__img,
.p-works-arc-list__item:nth-child(5n-3) .p-works-arc-list-item__img {
  width: 100%;
  background: #ccc;
  border: solid 1px #ccc;
}

.p-works-arc-list__item:nth-child(5n-4) .p-works-arc-list-item__img img,
.p-works-arc-list__item:nth-child(5n-3) .p-works-arc-list-item__img img {
  width: 100%;
  height: 340px;
}

@media screen and (max-width: 767px) {
  .p-works-arc-list__item:not(:nth-child(5n-4)) .p-works-arc-list-item__img,
  .p-works-arc-list__item:not(:nth-child(5n-3)) .p-works-arc-list-item__img {
    width: 100%;
  }
  .p-works-arc-list__item:not(:nth-child(5n-4)) .p-works-arc-list-item__img img,
  .p-works-arc-list__item:not(:nth-child(5n-3)) .p-works-arc-list-item__img img {
    width: 100%;
    height: 220px;
  }
  .p-works-arc-list__item:nth-child(5n-4) .p-works-arc-list-item__img,
  .p-works-arc-list__item:nth-child(5n-3) .p-works-arc-list-item__img {
    width: 100%;
  }
  .p-works-arc-list__item:nth-child(5n-4) .p-works-arc-list-item__img img,
  .p-works-arc-list__item:nth-child(5n-3) .p-works-arc-list-item__img img {
    width: 100%;
    height: 220px;
  }
}

/*==========item内テキスト==========*/
.p-works-arc-list-item .p-works-list-item-txt-cat-icon {
  display: inline-block;
  background: #CFDEE8;
  font-size: 14px;
  padding: 4px 8px;
  text-align: center;
  margin: 8px 10px 0 0;
}

.p-works-arc-list-item .p-works-list-item-txt__ttl {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.1em;
  height: 34px;
  overflow: hidden;
  padding: 6px 0 0;
  margin-bottom: 6px;
}

.p-works-arc-list-item .p-works-list-item-txt__txt {
  height: 48px;
  display: block;
  font-size: 14px;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.p-works-arc-list-item:nth-child(5n-4) .p-works-list-item-txt__ttl,
.p-works-arc-list-item:nth-child(5n-3) .p-works-list-item-txt__ttl {
  display: block;
  font-size: 24px;
  line-height: 1.2;
  padding: 10px 0 0;
  letter-spacing: 0.1em;
  border-bottom: solid 2px #fff;
  height: 42px;
  overflow: hidden;
  margin-bottom: 4px;
}

.p-works-arc-list-item:nth-child(5n-4) .p-works-list-item-txt__txt,
.p-works-arc-list-item:nth-child(5n-3) .p-works-list-item-txt__txt {
  height: 48px;
  display: block;
  font-size: 16px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .p-works-arc-list-item:nth-child(5n-4) .p-works-list-item-txt,
  .p-works-arc-list-item:nth-child(5n-3) .p-works-list-item-txt {
    width: 100%;
    color: #333333;
    background: none;
    padding: 0;
    box-shadow: none;
    transform: none;
  }
  .p-works-arc-list-item:nth-child(5n-4) .p-works-list-item-txt__ttl,
  .p-works-arc-list-item:nth-child(5n-3) .p-works-list-item-txt__ttl {
    display: block;
    font-size: 18px;
    line-height: 1.4;
    padding: 6px 0 0;
    letter-spacing: 0.1em;
    height: 34px;
    overflow: hidden;
  }
  .p-works-arc-list-item:nth-child(5n-4) .p-works-list-item-txt__txt,
  .p-works-arc-list-item:nth-child(5n-3) .p-works-list-item-txt__txt {
    height: 44px;
    display: block;
    font-size: 14px;
    overflow: hidden;
  }
}

/*==================== p-works-sngle ====================*/
.p-works-page-ttl {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HiraMinPro-W6", "ＭＳ ゴシック", sans-serif;
  margin-bottom: 40px;
}

.p-works-page-ttl .p-works-page-ttl__txt {
  font-size: 28px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  padding-bottom: 4px;
}

.p-works-page-ttl .p-works-ttl__cat {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #838383;
  padding-bottom: 10px;
  border-bottom: solid 2px #60A6D3;
}

.p-works-sgl-main-img {
  background: #eeeeee;
  padding: 60px 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .p-works-sgl-main-img {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-works-sgl-main-img .p-works-sgl-main-img--maw {
  width: 100%;
  margin: 0 auto;
}

.p-works-sgl-main-img .p-works-sgl-main-img--maw img {
  height: auto;
}

.p-works-sgl-info {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 60px;
  background: #829CAD;
  padding: 40px 2%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .p-works-sgl-info {
    margin-bottom: calc(60px * 2/3);
  }
}

.p-works-sgl-info .p-works-sgl-info__ttl {
  flex-basis: 20%;
  padding-right: 70px;
  position: relative;
  margin-right: 4%;
  margin-bottom: 20px;
}

.p-works-sgl-info .p-works-sgl-info__ttl:last-of-type {
  margin-bottom: 0;
}

.p-works-sgl-info .p-works-sgl-info__ttl::before {
  display: inline-block;
  content: '';
  width: 30%;
  height: 2px;
  background: #dddddd;
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
}

.p-works-sgl-info .p-works-sgl-info__txt {
  flex-basis: 64%;
  margin-bottom: 20px;
}

.p-works-sgl-info .p-works-sgl-info__txt:last-child {
  margin-bottom: 0;
}

.p-works-page-btm--flex {
  display: flex;
  justify-content: center;
}

.p-works-page-btm__next a, .p-works-page-btm__prev a {
  min-width: 300px;
  width: 100%;
  display: block;
  padding: 50px 20px 20px;
  border: solid 1px #bbbbbb;
  text-align: center;
  font-size: 14px;
  position: relative;
  letter-spacing: 0.05em;
}

.p-works-page-btm__next a::before, .p-works-page-btm__prev a::before {
  transition: 0.5s;
  display: inline-block;
  font-size: 42px;
  color: #B8BEC6;
  font-family: "Caveat", cursive;
  position: absolute;
  top: 0;
  left: 20%;
  transform: rotate(340deg);
}

.p-works-page-btm__next a::after, .p-works-page-btm__prev a::after {
  display: inline-block;
  content: '';
  width: 20%;
  height: 2px;
  position: absolute;
  top: 50%;
  background: #dcdcdc;
  transition: 0.5s;
}

.p-works-page-btm__next a:hover, .p-works-page-btm__prev a:hover {
  background: #B8BEC6;
  color: #ffffff;
}

.p-works-page-btm__next a:hover::before, .p-works-page-btm__prev a:hover::before {
  color: #ffffff;
}

.p-works-page-btm__next a:hover:after, .p-works-page-btm__prev a:hover:after {
  width: 25%;
}

.p-works-page-btm__next a::before {
  content: 'next';
}

.p-works-page-btm__next a::after {
  right: -10%;
}

.p-works-page-btm__prev a::before {
  content: 'prev';
}

.p-works-page-btm__prev a::after {
  left: -10%;
}

/*----------utility----------*/
