/*----------_compornent----------*/
// リンクボタン
.c-link-btn{
  font-family:$font-btn;
  a{
    display: block;
    padding:1em 2em;
    @include c-link-btn($background:#fff,$font-color:#60A6D3);
    &:hover{
      @include c-link-btn-hover($background:#60A6D3,$font-color:#fff);
    }
  }
}

// タイトル
.c-heading--en{
  display: block;
  font-size:64px;
  font-family:$font-en01;
  letter-spacing: 0.1em;
  line-height:1.0;
  margin-bottom: 10px;
}
.c-heading--ja{
  display: block;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height:1.6;
}

