/*----------_p-home----------*/
// 共通
.p-home-heading{
  color:$blue02;
  @include margin-bottom2_3(60px);
  .c-heading--en{
    font-size: 62px;
    font-family:$font-en01;
  }
  &--ja{
    font-size: 20px;
  }
}
/*========== home-visual ==========*/
.p-home-visual{
  position: relative;
  &-txt{
    .p-home-name{
      font-family: $font-en01;
      position: absolute;
      top: 50%;
      left: calc(50% - 540px);
      z-index: 500;
      font-size: 72px;
      letter-spacing: 0.2em;
      line-height: 1.1;
      color: #fefefe;
      transform: translate(0,-50%);
      &--small{
        display: block;
        font-size: 24px;
        letter-spacing: 0.1em;
        color: #fefefe;
        margin-top: 10px;
      }
    }
  }
  .swiper-container-main{
    position: relative;
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
  }
  .swiper-slide {
    width: 100%;
    height: 86vh;
    position: relative;
    &::before{
      display:inline-block;
      content:'';
      width: 100%;
      height: 86vh;
      position:absolute;
      top:0;
      left:0;
      background: rgba(63, 87, 103, .7);
      z-index: 400;
    }
  }
  .swiper-slide > img {
      object-fit: cover; /* IE: not support */
      width: 100%;
      height: 100%;
  }
}

/*========== about ==========*/
.p-home-about{
  display: flex;
  @include padding-bottom2_3(80px);
  &__img{
    max-width:336px;
    margin-right:2%;
  }
  &__txt{
    flex-basis: calc(100%-336px);
    line-height: 2.0;
  }
  .c-link-btn{
    max-width: 240px;
    margin: 0 auto;
    a{
      border: solid 1px #ccc;
      &:hover{
        border: solid 1px #{$blue02};
      }      
    }
  }
}
.p-home-about-txt{
  &__txt{
    @include margin-bottom2_3(42px);
  }
}
@include mq('sp') {
  .p-home-about{
    display: block;
    overflow: hidden;
    &__img{
      max-width:300px;
      margin-right:auto;
      position: relative;
      margin-bottom:40px;
      z-index:100;
      &::before{
        position: absolute;
        right: -2%;
        display: inline-block;
        max-width: 600px;
        width:100%;
        height: 0;
        padding: 66%;
        background:url(../img/home/home_img06.jpg) no-repeat;
        background-size: cover;
      }
    }
    .c-link-btn{
      margin: 0 auto;
    }
  }
}

/*========== works ==========*/
.p-home-works--ttlbg{
  width: 100%;
  position: relative;
  &:before{
    display:inline-block;
    content:'';
    background:$blue03;
    width:100%;
    height: 74%;
    position:absolute;
    left:0;
    bottom:0;
    z-index: -1;
  }
  .p-home-heading{
    padding-bottom: 32px;
    .c-heading--ja{
      color: #fff;
    }
  }
}


// スライダー
.p-home-works-swiper{
  .swiper-container {
    padding: 30px 0 50px;
  }
  .swiper-slide__wrap {
    position: relative;
    max-width: 640px;
    overflow: hidden;
  }

  .swiper-slide-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    color: #fff;
    background: #B5C1C4;
    text-align: left;
    z-index: 500;
    padding: 30px;
    transform: translateY(100%);    
    &__cat{
      display: block;
      font-size: 12px;
    }
    &__ttl{
      display: block;
      font-size: 24px;
      line-height: 1.4;
      padding:10px 0;
      border-bottom: solid 2px #fff;
    }
    &__txt{
      display: block;
      font-size: 16px;
    }
  }
  .swiper-pagination-bullet {
    font-family:$mincho_ff;
    font-size: 14px;
    margin: 0 4px;
    display: block;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    color: #333333;
    background: none;
  }
  .swiper-pagination-bullet-active {
    font-size: 16px;
    font-weight: bold;
    background: #007aff;
  }
}


/*==========catch==========*/
.l-home-catch{
  @include margin-bottom2_3(80px);
  .p-home-catch-bg{
    background: #EDEDED;
    .p-home-catch{
      position: relative;
      @include padding-top2_3(100px);
      @include padding-bottom2_3(80px);
      background:url(../img/home/home_img02.png) no-repeat right 20% bottom 40%;
    }
  }
  .p-home-copy__txt01{
    font-family: $font-en03;
    font-size:64px;
    color: $blue02;
    transform: rotate(-25deg);
    position: absolute;
    left: calc(50% - 350px);
    top: 40px;
  }
  .p-home-copy__txt02{
    text-align: center;
    font-size: 20px;
    font-family: $mincho_ff;
    line-height: 2.2;
    letter-spacing: 0.2em;
  }
}
@include mq('sp-s') {
.l-home-catch{
  .p-home-copy__txt02{
    font-size: 16px;
  }
}
}
/*==========Methods==========*/
.p-home-methods{
  &__left{
    flex-basis:50%;
    background: url(../img/home/home_img03.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    &::after{
      display:inline-block;
      content:'';
      width:100%;
      height: 100%;
      background:rgba(0,0,0,0.6);
      position:absolute;
      top:0;
      left:0;
    } 
}
  &__right{
    flex-basis:50%;
  }
}
@include mq('sp') {
  .p-home-methods{
    display: block;
    background: url(../img/home/home_img03.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 200;
    &::after{
      display:inline-block;
      content:'';
      width:100%;
      height: 100%;
      background:rgba(0,0,0,0.6);
      position:absolute;
      top:0;
      left:0;
    } 
    &__left{
      background:none;
      &::after{
        display:inline-block;
        content:'';
        width:100%;
        height: 100%;
        background:rgba(0,0,0,0.6);
        position:absolute;
        top:0;
        left:0;
      } 
  }
    &__right{
      flex-basis:50%;
    }
  } 
}

// タイトル部分
.p-home-methods-ttl{
  .p-home-heading{
    width: 100%;
    .c-heading--en{
      color: #fefefe;
    }
    .c-heading--ja{
      color: #fefefe;
    }
  }
  .p-home-methods-ttl__txt{
    width: 100%;
    line-height: 2.0;
  }
}

// leftテキストblc
.p-home-methods-ttl{
  position: relative;
  z-index: 300;
  color: #fefefe;
  max-width: 540px;
  padding-right: 2%;
  margin-left: auto;
}
@include mq('sp') {
  .p-home-methods-ttl{
    position: static;
    color: #fefefe;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}


.p-home-skill-list{
  width: 100%;
  max-width: 540px;
  padding: 0 2%;
}
// Skillリストflex
.p-home-skill-list__item{
  display: flex;
  padding: 30px 0;
  &:not(:last-child){
    border-bottom: solid 1px #707070;
  } 
  .p-home-skill__icon{
    margin-right: 2%;
    flex-basis:22%;
  }
  .p-home-skill__txt{
    flex-basis:77%;
    line-height: 1.8;
  }
}
@include mq('sp') {
  .p-home-skill-list__item{
    padding: 20px 1%;
    &:not(:last-child){
      border-bottom: solid 1px #fefefe;
    } 
    .p-home-skill__icon{
      margin-left: 1%;
      margin-right: 1%;
      flex-basis:24%;
    }
    .p-home-skill__txt{
      flex-basis:74%;
      color: #fefefe;
    }
  }   
}

// Skillアイコン
.p-home-skill-icon{
  &__img{
    max-width: 56px;
    margin: 0 auto 4px;
  }
  &__txt{
    text-align: center;
    font-family: $font-en02;
    font-size: 22px;
    letter-spacing: 0.1em;
  }
} 
@include mq('sp') {
  .p-home-skill-icon{
    background: #fefefe;
    border-radius: 50%;
    &__img{
      max-width: 50px;
      margin: 0 auto 10px;
    }
    &__txt{
      font-size: 16px;
      letter-spacing: 0.1em;
    }
  } 
}

.p-home-contact--bg{
  background:url(../img/home/home_img05.jpg);
  background-size: cover;
}
.p-home-contact{
  @include padding-top2_3(80px);
  @include padding-bottom2_3(80px);
  .p-home-heading{
    text-align: center;
  }
  &__txt{
    text-align: center;
    margin:42px 1%;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }
  .c-link-btn{
    max-width: 240px;
    margin: 0 auto;
    a{
      border: solid 1px #ccc;
      a:hover{
        border: solid 1px #60A6D3;
      }
    }
  }
}