/*==================== p-works ====================*/
// singleタイトル
.p-works-page-ttl{
  font-family:$mincho_ff;
  margin-bottom: 40px;
  .p-works-page-ttl__txt{    
    font-size: 28px;
    letter-spacing: 0.1em;
    line-height: 1.4;
    padding-bottom: 4px;
  }
  .p-works-ttl__cat{
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $gray01;
    padding-bottom: 10px;
    border-bottom: solid 2px $blue02;
  }
}

// single 画像
.p-works-sgl-main-img{
  background:$gray02;
  padding: 60px 0;
  @include margin-bottom2_3(60px);
  .p-works-sgl-main-img--maw{
    width: 100%;
    margin: 0 auto;
    img{
      height:600px;
      box-shadow: 6px 6px 20px #cccccc;
    }
  }
}

.p-works-sgl-info{
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  @include margin-bottom2_3(60px);
  .p-works-sgl-info__ttl{
    flex-basis:28%;
    color:$gray01;
    padding-right: 70px;
    position: relative;
    margin-right: 4%;
    margin-bottom: 20px;
    &::before{
      display:inline-block;
      content:'';
      width: 30%;
      height: 1px;
      background: #cccccc;
      position:absolute;
      top: calc(50% - 2px);
      right:0;
    }
  }
  .p-works-sgl-info__txt{
    flex-basis: 64%;
    margin-bottom: 20px;
  }
}

.p-works-page-btm{
  &--flex{
    display: flex;
    justify-content: center;
  }
  &__next,
  &__prev{
    a{
      min-width: 300px;
      width: 100%;
      display: block;
      padding: 50px 20px 20px;
      border: solid 1px #bbbbbb;
      text-align: center;
      font-size: 14px;
      position: relative;
      letter-spacing: 0.05em;
      &::before{
        transition: 0.5s;
        display:inline-block;
        font-size: 42px;
        color:$blue03;
        font-family: $font-en03;
        position:absolute;
        top:0;
        left:20%;
        transform: rotate(340deg);
      }
      &::after{
        display:inline-block;
        content:'';
        width:20%;
        height: 2px;
        position:absolute;
        top:50%;
        background: #dcdcdc;
        transition: 0.5s;
      }
      &:hover{
        background:$blue03;
        &::before{
          color:#ffffff;
        }
        &:after{
          width: 25%;
        }
      }
    }
  }
  &__next{
    a{
      &::before{
        content:'next';
      }
      &::after{
        right:-10%;
      }
    }
  }
  &__prev{
    a{
      &::before{
        content:'prev';
      }
      &::after{
        left:-10%;
      }
    }
  }
}