/*==================== p-works-archive ====================*/
.p-works-arc-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // 3つ並び
   &__item{
    flex-basis:calc(94% * 1/3);
    max-width: 560px;
    margin: 0 auto 48px;
    a{
      display: block;
    }
    a:hover{
      opacity: 0.7;
    }
  }
  &__item:nth-child(5n-2),
  &__item:nth-child(5n-1){    
    margin-right: 3%;
  }

  // 2つ並び
  &__item:nth-child(5n-4),
  &__item:nth-child(5n-3){
    flex-basis: 48%;
    max-width: 560px;
    margin-bottom: 60px;
  }
  &__item:nth-child(5n-4){
    margin-right:4%; 
  }
}

@include mq('sp') {
  .p-works-arc-list{
    display: block;
    // 3つ並び
    &__item{
      margin: 0 auto 48px;
    }
    &__item:nth-child(5n-2),
    &__item:nth-child(5n-1){    
      margin-right: auto;
    }
    &__item:nth-child(5n-4){
      margin-right:auto; 
    }
  }  
}

/*==========item内画像調整==========*/
// 1.2.6.7個以外
.p-works-arc-list__item:not(:nth-child(5n-4)),
.p-works-arc-list__item:not(:nth-child(5n-3)){
  .p-works-arc-list-item__img{
    width: 100%;
    background: #ccc;
    border: solid 1px #ccc;
    img{
      width: 100%;
      height: 200px;
    }
  }
}

// 1.2.6.7個
.p-works-arc-list__item:nth-child(5n-4),
.p-works-arc-list__item:nth-child(5n-3){
  .p-works-arc-list-item__img{
    width: 100%;
    background: #ccc;
    border: solid 1px #ccc;
    img{
      width: 100%;
      height: 340px;
    }
  }
}
@include mq('sp') {
  // 1.2.6.7個以外
  .p-works-arc-list__item:not(:nth-child(5n-4)),
  .p-works-arc-list__item:not(:nth-child(5n-3)){
    .p-works-arc-list-item__img{
      width: 100%;
      img{
        width: 100%;
        height: 220px;
      }
    }
  }  
  // 1.2.6.7個
  .p-works-arc-list__item:nth-child(5n-4),
  .p-works-arc-list__item:nth-child(5n-3){
    .p-works-arc-list-item__img{
      width: 100%;
      img{
        width: 100%;
        height: 220px;
      }
    }
  } 
}

/*==========item内テキスト==========*/
// 1.2.6.7個以外
.p-works-arc-list-item{
  .p-works-list-item-txt{
    &__ttl{
      display: block;
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.1em;
      height: 34px;
      overflow: hidden;
      padding: 6px 0 0;
      margin-bottom: 6px;
    }
    &__txt{
      height: 48px;
      display: block;
      font-size: 14px;
      letter-spacing: 0.1em;
      overflow: hidden;
    }    
  } 
}
// 1.2.6.7個
.p-works-arc-list-item:nth-child(5n-4),
.p-works-arc-list-item:nth-child(5n-3){
  .p-works-list-item-txt{
    width: 92%;
    color: #fff;
    background:$gray03;
    padding: 30px;
    box-shadow: 5px 5px 10px #cccccc;
    transform: translate(8%,-20px);
    &__ttl{
      display: block;
      font-size: 24px;
      line-height: 1.4;
      padding: 10px 0 0;
      letter-spacing: 0.1em;
      border-bottom: solid 2px #fff;
      height: 54px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    &__txt{
      height: 48px;
      display: block;
      font-size: 16px;
      overflow: hidden;
    }
  }
}
@include mq('sp') {
  // 1.2.6.7個
.p-works-arc-list-item:nth-child(5n-4),
.p-works-arc-list-item:nth-child(5n-3){
  .p-works-list-item-txt{
    width: 100%;
    color:#333333;
    background:none;
    padding:0;
    box-shadow:none;
    transform:none;
    &__ttl{
      display: block;
      font-size: 18px;
      line-height: 1.4;
      padding: 6px 0 0;
      letter-spacing: 0.1em;
      height: 34px;
      overflow: hidden;
    }
    &__txt{
      height: 44px;
      display: block;
      font-size: 14px;
      overflow: hidden;
    }    
  } 
}
}


/*==================== p-works-sngle ====================*/
// singleタイトル
.p-works-page-ttl{
  font-family:$mincho_ff;
  margin-bottom: 40px;
  .p-works-page-ttl__txt{    
    font-size: 28px;
    letter-spacing: 0.1em;
    line-height: 1.4;
    padding-bottom: 4px;
  }
  .p-works-ttl__cat{
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $gray01;
    padding-bottom: 10px;
    border-bottom: solid 2px $blue02;
  }
}

// single 画像
.p-works-sgl-main-img{
  background:$gray02;
  padding: 60px 0;
  @include margin-bottom2_3(60px);
  .p-works-sgl-main-img--maw{
    width: 100%;
    margin: 0 auto;
    img{
      height:auto;
    }
  }
}

// 基本情報
.p-works-sgl-info{
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include margin-bottom2_3(60px);
  background: #829CAD;
  padding: 40px 2%;
  color: #fff;
  .p-works-sgl-info__ttl{
    flex-basis:20%;
    padding-right: 70px;
    position: relative;
    margin-right: 4%;
    margin-bottom: 20px;
    &:last-of-type{
      margin-bottom: 0;
   } 
    &::before{
      display:inline-block;
      content:'';
      width: 30%;
      height: 2px;
      background: #dddddd;
      position:absolute;
      top: calc(50% - 2px);
      right:0;
    }
  }
  .p-works-sgl-info__txt{
    flex-basis: 64%;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
   } 
  }
}

// 前後ボタン
.p-works-page-btm{
  &--flex{
    display: flex;
    justify-content: center;
  }
  &__next,
  &__prev{
    a{
      min-width: 300px;
      width: 100%;
      display: block;
      padding: 50px 20px 20px;
      border: solid 1px #bbbbbb;
      text-align: center;
      font-size: 14px;
      position: relative;
      letter-spacing: 0.05em;
      &::before{
        transition: 0.5s;
        display:inline-block;
        font-size: 42px;
        color:$blue03;
        font-family: $font-en03;
        position:absolute;
        top:0;
        left:20%;
        transform: rotate(340deg);
      }
      &::after{
        display:inline-block;
        content:'';
        width:20%;
        height: 2px;
        position:absolute;
        top:50%;
        background: #dcdcdc;
        transition: 0.5s;
      }
      &:hover{
        background:$blue03;
        &::before{
          color:#ffffff;
        }
        &:after{
          width: 25%;
        }
      }
    }
  }
  &__next{
    a{
      &::before{
        content:'next';
      }
      &::after{
        right:-10%;
      }
    }
  }
  &__prev{
    a{
      &::before{
        content:'prev';
      }
      &::after{
        left:-10%;
      }
    }
  }
}
