/*----------_l-header----------*/
.l-header{
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #ccc;
  &-logo{
    max-width: 180px;
    a{
      width: 100%;
      padding:10px;
      display: block; 
    }
  }
  &-nav{
    display: inline-block;
    margin-left: auto;
  }
}

.l-header-nav-menu{
  align-items: center;
    &__item{
    font-size: 14px;
    padding:0 12px;
    letter-spacing: 0.05em;
    a:hover{
      color: $blue01;
    }
  }
}

.l-header-nav__item--contact,
.l-header-nav__item--sns{
  a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    &:hover{
      background:$blue01;
      color: #fff;
      border-left: none;
      border-right:none;
    }
  }
}
// スクロール後表示
.l-header.show{
  display: block;
  position: sticky;
  position: -webkit-sticky;/*Safari*/
  top: 0;
  background:rgba(255,255,255,0.6);
  border-bottom: solid 1px #eee;
  z-index: 5000;
}

// flex
.l-flex-box{
  display: flex;
}
