/*======================
header
======================*/
.l-header{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ccc;
  &-logo{
    max-width: 180px;
    a{
      width: 100%;
      padding:10px;
      display: block; 
    }
  }
  &-nav{
    &-menu{
      margin-left: auto;
      padding:10px 25px;
      font-size: 14px;
    }
  }
}
.l-header-nav__item--contact,
.l-header-nav__item--sns{
  a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    &:hover{
      background:$blue01;
      color: #fff;
      border-left: none;
      border-right:none;
    }
  }
}

// スクロール後表示
.l-header.show{
  background:rgba(255,255,255,0.6);
  border-bottom: solid 1px #eee;
}

// flex
.l-flex-box{
  display: flex;
}

