.l-works-sgl{
    margin-bottom:80px;
}
.l-works-page-btm{
    margin-bottom: 100px;
}
.l-contact-form{
    @include margin-bottom2_3(100px);
}

// 送信後
div.wpcf7-mail-sent-ok {
    border: 2px solid $blue01;
}