/*----------_compornent----------*/
// リンクボタン
.c-link-btn{
  font-family:$font-btn;
  a{
    @include c-link-btn(($background:#fff,$font-color:#60A6D3));
    &:hover{
      @include c-link-btn-hover($background:#60A6D3,$font-color:#fff);
    }
  }
}

// タイトル
.c-heading-en{
  font-size:64px;
  letter-spacing: 0.1em;
  line-height:1.0;
}
.c-heading--ja{
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height:1.4;
}

